
.table_layout {
  min-height: 100%;
  margin: 12px;

  .table_layout_search {
    background-color: #FFF;
    padding: 24px 12px;
  }
  .table_layout_content {
    background-color: #FFF;
    padding: 12px;
    margin-top: 12px;
    .table_layout_actions {
      
    }
    .table_layout_table {
      
    }

  }
}